{% extends "base.html.twig" %}

{% block title %}
	JM - Inscription
{% endblock %}

{% block body %}
	<div class="hover">
		<div class="form uk-card uk-card-hover uk-card-body">
			<div>
				<h1 class="uk-card-title">Formulaire d'Inscription</h1>
				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
